body{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	color: #333;
	background-image: url(../img/bg.jpg);
}

.container{
	width: 100%;
	max-width: 70%;
	padding: 0 15px;
	margin: 0 auto;
}

.container__header{
	text-align: center;
}

.header__title{
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 145px auto 20px;
}

.header__suptitle{
	font-size: 15px;
	font-weight: 700;
	color: #7a7772;
}

.container__header:after{
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	margin: 55px auto 30px;
	background-color: #f1ad1d;
}

.content{
	display: flex;
	flex-wrap: nowrap;
}

.content__item{
	width: 33.3333%;
	padding: 0 15px;
}

.line{
	display: inline-block;
	width: 100%;
	height: 3px;
	background-color: #f1ad1d;
	margin-top: 40px;
	margin-left: 15px;
}

.decor{
	display: flex;
}

i.fas{
	display: inline-block;
	margin: 10px auto;
	color: #f1ad1d;
	font-size: 50px;
}

.text{
	font-size: 13px;
	text-align: justify;
	color: #7a7772;
	padding-bottom: 25px;
	border-bottom: 3px solid #000;
}

.author{
	display: flex;
	margin: 15px 0;
}

.author__data{
	margin: 0 10px;
	margin-top: 15px;
}

.author__name{
	font-size: 13px;
	font-weight: 700;
	margin-bottom: -5px;
}

.author__prof{
	font-size: 13px;
	color: #7a7772;
}